@font-face {
    font-family: Public_Sans;
    src: url(../fonts/Public_Sans/PublicSans-Regular.ttf);
}

@font-face {
    font-family: Ibarra;
    src: url(../fonts/Ibarra_Real_Nova/IbarraRealNova-Regular.ttf);
}

$font1: Public_Sans;
$font2: Iberra;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
}

//Header
.header {
    width: 100%;
    height: 70px;
    margin-top: 50px;
    display: flex;

    //Navbar
    .navbar {
        display: none;
        background-color: #FAFAFA!important;
    }

    .header-navbar {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;

        ul {
            width: 30%;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-self: center;
            margin: 0;
            padding: 0;

            li {
                .active {
                    color: #5FB4A2;
                }

                a {
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    color: #33323D;
                    font-family: $font1;

                    &:hover {
                        text-decoration: none;
                        color: #5FB4A2;
                    }
                }
            }

        }
    }
}

//Section
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.25rem;

    .box1 {
        width: 33.75rem;
        height: 31.25rem;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .box2 {
        width: 21.875rem;
        height: 31.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 2px solid rgba(52, 51, 61, 0.15);
        border-bottom: 2px solid rgba(52, 51, 61, 0.15);
        padding: 6.25rem 0;

        h1 {
            font-size: 2rem;
            font-family: $font2;
            font-weight: 600;
            color: #33323D;
        }

        p {
            font-size: 1rem;
            font-family: $font1;
            color: #33323D;
        }
    }
}

//Button
.button {
    width: 10.9375rem;
    height: 3rem;
    border: 1px solid #33323D;
    padding: 0.875rem 2.25rem;
    text-align: center;
    color: #33323D;
    font-size: 0.75rem;

    &:hover {
        text-decoration: none;
        color: #FAFAFA;
        background-color: #33323D;
    }
}

//Footer
.footer {
    background-color: #33323D;
    width: 100%;
    height: 4.375rem;
    margin-top: 6.25rem;
    display: flex;

    .footer-nav {
        display: flex;
        justify-content: space-between;

        .footer-navbar {
            width: 40%;
            height: 4.375rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;

            ul {
                width: 70%;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-self: center;
                margin: 0;
                padding: 0;

                li {
                    .active {
                        color: #5FB4A2;
                    }

                    a {
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        color: #FAFAFA;
                        font-family: $font1;

                        &:hover {
                            text-decoration: none;
                            color: #5FB4A2;
                        }
                    }
                }

            }
        }

        .social {
            width: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
                color: #FAFAFA;
                font-size: 1.5rem;
                cursor: pointer;

                &:hover {
                    color: #5FB4A2;
                }
            }
        }
    }
}

//Responsive

/*
//xl
@media screen and (min-width: 1200px) {
    body {
        background-color: yellow;
    }
}
*/

//lg
@media screen and (max-width: 1199px) and (min-width: 992px) {}

//md
@media screen and (max-width: 991px) and (min-width: 768px) {

    //Header
    .header {
        .navbar {
            ul {
                width: 35%;
            }
        }
    }

    //Section
    .section {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        .box2 {
            width: 33.75rem;
            height: 15.625rem;
            margin: 3rem 0 0 0 !important;
            padding: 0 !important;

            h1 {
                margin-top: 0;
            }
        }
    }

    //Footer
    .footer {
        .footer-nav {
            .footer-navbar {
                width: 45%;
            }

            .social {
                width: 15%;
            }
        }
    }
}

//sm
@media screen and (max-width: 767px) and (min-width: 576px) {
    .header {
        .navbar {
            position: relative;
            top: 0;
            left: 0;
            z-index: 100;
            display: block;
            display: flex;
            justify-content: space-between;
        }

        .header-navbar {
            display: none;
        }
    }

    //Section
    .section {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        .box2 {
            width: 100%;
            height: 15.625rem;
            margin: 3rem 0 0 0 !important;
            padding: 0 !important;

            h1 {
                margin-top: 0;
            }
        }
    }

    //Footer
    .footer {
        margin-top: 3.125rem;
        height: 6.875rem;
        display: flex;
        flex-direction: column;
        .footer-nav {
            display: flex;
            flex-direction: column;
            .footer-navbar {
                width: 100%;
            }

            .social {
                align-self: center;
                width: 40%;
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}

//xs
@media screen and (max-width: 575px) {
    .header {
        .navbar {
            position: relative;
            top: 0;
            left: 0;
            z-index: 100;
            display: block;
            display: flex;
            justify-content: space-between;
        }

        .header-navbar {
            display: none;
        }
    }

    //Section
    .section {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;

        .box1 {
            width: 100%;
            height: 18.75rem;
            img {
                width: 80%;
            }
        }

        .box2 {
            width: 100%;
            height: 15.625rem;
            margin: 3rem 0 0 0 !important;
            padding: 10px !important;

            h1 {
                margin-top: 0;
                font-size: 1.5rem;
            }
            p {
                font-size: 0.875rem;
            }
        }
    }

    .button {
        width: 8.75rem;
        height: 2.5rem;
        border: 1px solid #33323D;
        padding: 0.625rem 1rem;
        text-align: center;
        color: #33323D;
        font-size: 0.75rem;
    }

    //Footer
    .footer {
        margin-top: 3.125rem;
        height: 6.875rem;
        display: flex;
        flex-direction: column;
        .footer-nav {
            display: flex;
            flex-direction: column;
            .footer-navbar {
                width: 100%;
                display: flex;
            }

            .social {
                align-self: center;
                width: 40%;
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}